<footer class="bg-primary footer">
        <!-- <div fxLayout="column" fxLayout.gt-sm="row wrap" fxLayoutAlign="center center" class="border-bottom-mute subscribe-block theme-container">
            <div fxFlex="100" fxFlex.gt-sm="40" fxLayout="column" fxLayoutAlign="center center"> 
                <h1 class="fw-500">Subscribe our Newsletter</h1>
                <h3 class="fw-300 secondary-color">Stay up to date with our latest new and products</h3>
            </div>
            <form method="get" class="subscribe-search-form" fxLayout="row" fxFlex="100" fxFlex.gt-sm="42.4" ngClass.sm="mt-2" ngClass.xs="mt-2">
                <input type="text" placeholder="Your email address..." fxFlex>
                <button mat-raised-button color="accent" (click)="subscribe()" type="button" class="mat-elevation-z0 text-muted">Subscribe</button>
            </form>
        </div> -->
        <div  class="py-3 border-bottom-mute theme-container footer-flex">
            
            <div  class="border-bottom-mute subscribe-block theme-container">
                
                <h1 class="fw-500">{{ 'subscribe' | translate }}</h1>
                <form method="get" class="subscribe-search-form"  ngClass.sm="mt-2" ngClass.xs="mt-2">
                    <input type="text" placeholder="Your email address..." fxFlex>
                    <button style="padding: 0 12px;" mat-raised-button color="accent" (click)="subscribe()" type="button" class="mat-elevation-z0 text-muted">{{ 'biddingSubscribe' | translate }}</button>
                </form>
            </div>
            

            <div class="footer-links"> 
                <h3 class="col-title">{{ 'useful-links' | translate }}</h3>
                <p class="mt-2"><a routerLink="/account" class="link secondary-color">{{'my-account' | translate}}</a></p>
                <p class="mt-1"><a routerLink="/contact" class="link secondary-color">{{'contact' | translate}}</a></p>
                <!-- <p class="mt-1"><a routerLink="/compare" class="link secondary-color"> {{'compare' | translate}}</a></p>
                <p class="mt-1"><a routerLink="/wishlist" class="link secondary-color">{{ 'wishlist' | translate }}</a></p>
                <p class="mt-1"><a routerLink="/checkout" class="link secondary-color">{{ 'checkout' | translate }}</a></p> -->
                <p class="mt-1"><a [routerLink]="['/faq']" routerLinkActive="router-link-active"  class="link secondary-color">{{ 'faq' | translate }}</a></p>
                <p class="mt-1"><a [routerLink]="['/terms']" routerLinkActive="router-link-active"  class="link secondary-color">{{ 'terms&conditions' | translate }}</a></p>
            </div>

            <!-- <div fxFlex="50" fxFlex.gt-sm="20" fxFlex.sm="20"> 
                <h3 class="col-title">{{ 'useful-links' | translate }}</h3>
                <p class="mt-2"><a href="javascript:void(0);" class="link secondary-color">My Account</a></p>
                <p class="mt-1"><a routerLink="/contact" class="link secondary-color">Contact</a></p>
                <p class="mt-1"><a routerLink="/compare" class="link secondary-color">Compare</a></p>
                <p class="mt-1"><a routerLink="/wishlist" class="link secondary-color">Wishlist</a></p>
                <p class="mt-1"><a routerLink="/checkout" class="link secondary-color">Checkout</a></p>
                <p class="mt-1"><a [routerLink]="['/faq']" class="link secondary-color">FAQ</a></p>
            </div> -->

            <div  ngClass.xs="mt-2" class="contact-information" *ngIf="contactInfo$ | async as contactInfo"> 
                <h3 class="col-title">{{ 'contact-info' | translate }}</h3>            
                <p fxLayout="row" fxLayoutAlign="start center" class="mt-2 secondary-color">
                    <mat-icon>location_on</mat-icon>
                    <span>{{ contactInfo.address }}</span>
                </p>
                <p fxLayout="row" fxLayoutAlign="start center" class="mt-1 secondary-color">
                    <mat-icon>call</mat-icon>
                    <a href="tel:{{ contactInfo.phone }}" class="color-white">{{ contactInfo.phone }}</a>
                </p>
                <p fxLayout="row" fxLayoutAlign="start center" class="mt-1 secondary-color">
                    <mat-icon>mail_outline</mat-icon>
                    <a href="mailto:{{ contactInfo.email }}" class="color-white">{{ contactInfo.email }}</a>
                </p>
                <!-- <p fxLayout="row" fxLayoutAlign="start center" class="mt-1 secondary-color">
                    <mat-icon>schedule</mat-icon>
                    <span>Mon - Sun / 9:00AM - 8:00PM</span>
                </p>
                <p fxLayout="row" fxLayoutAlign="start center" class="mt-1 secondary-color">
                    <mat-icon>directions</mat-icon>
                    <a href="javascript:void(0);" class="link secondary-color">Get directions</a>
                </p>
                <p fxLayout="row" fxLayoutAlign="start center" class="mt-1 secondary-color">
                    <mat-icon>directions_bus</mat-icon>
                    <span>Routes to us</span>
                </p> -->
            </div>
            <!-- <div fxFlex="100" fxFlex.gt-sm="50" ngClass.sm="mt-2" ngClass.xs="mt-2"> 
                <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [mapTypeControl]="true">
                    <agm-marker [latitude]="lat" [longitude]="lng" [markerDraggable]="true"></agm-marker>
                </agm-map>
            </div> -->
        </div>
        <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center" class="copyright secondary-color theme-container">
            <p ngClass.xs="mt-1">Copyright © 2020 All Rights Reserved</p>
            <p>Powered by <a mat-button href="https://sdex.dk/" target="_blank">SDEX</a></p>
        </div>
    </footer>