<div class="details" *ngIf="biddingItem">
  <h1 class="product-title">{{ 'biddingDetails' | translate }}</h1>
  <div class="products-mazad">
    <!-- Details Mazad -->
    <div class="product-mazad">
      <div class="category" *ngIf="biddingItem.biddingSubValue?.title">{{ biddingItem.biddingSubValue?.title }}</div>

      <div class="img-product">
        <img
          [src]="
            biddingItem.imageUrl
              ? helpers.correctImageUrl(biddingItem.imageUrl)
              : '/assets/images/placeholder-img.jpg'
          "
          alt="product-1"
        />
      </div>

      <div class="info-product">
        <div class="text-info">
          <h3>{{ biddingItem.biddingTranslations[0].title }}</h3>
          <p class="desc-product">
            {{ biddingItem.biddingTranslations[0].description }}
          </p>
        </div>

        <div class="date-product">
          <span>
            {{ 'biddingStart' | translate }}:
            <b> {{ biddingItem.startDate | date: 'dd/MM/yyyy' }} </b>
          </span>
          <span
            >{{ 'biddingEnd' | translate }}:
            <b> {{ biddingItem.endDate | date: 'dd/MM/yyyy' }} </b>
          </span>
        </div>

        <div class="date-product">
          <span>
            {{ 'paymentStart' | translate }}:
            <b> {{ biddingItem.paymentStartDate | date: 'dd/MM/yyyy' }}</b>
          </span>
          <span
            >{{ 'paymentEnd' | translate }}:
            <b> {{ biddingItem.paymentEndDate | date: 'dd/MM/yyyy' }} </b>
          </span>
        </div>

        <div class="date-product">
          <span>
            {{ 'insuranceValue' | translate }}:
            <b>
              {{ biddingItem.insuranceValue | currency: 'EGP':'':'1.0-0' }}
              {{ 'egyptianPound' | translate }}
            </b>
          </span>
          <span
            >{{ 'TheValueOfTheBidRequirements' | translate }}:
            <b>
              {{ biddingItem.conditionValue | currency: 'EGP':'':'1.0-0' }}
              {{ 'egyptianPound' | translate }}
            </b>
          </span>
        </div>
        <div class="date-product">
          <span
            >{{ 'serialNumber' | translate }}: <b> {{ biddingItem.id }} </b>
          </span>
        </div>

        <div class="date-product">
          <div class="counter" [class.has-days]="isRemainingDays">
            <countdown
              style="font-size: 30px; font-weight: 600; position: relative"
              #cd
              [config]="countConfig"
              *ngIf="countConfig"
              (event)="handleEvent($event)"
            >
            </countdown>
            <div class="count-label">
              <span> {{ 'seconds' | translate }}</span>
              <span> {{ 'minutes' | translate }}</span>
              <span> {{ 'hours' | translate }}</span>
              <span *ngIf="isRemainingDays"> {{ 'days' | translate }}</span>
            </div>
          </div>
          <!-- <span class="icon-person">
            <b> محمد جابر </b> <mat-icon class="mat-icon-md">person</mat-icon>
          </span> -->
        </div>

        <div class="footer-desc">
          <h4>{{ 'termsAndConditions' | translate }}</h4>
          <p class="desc-product text-center">
            {{ biddingItem.termsAndCondtions }}
          </p>
        </div>
        <div class="text-right mt-3">
          <button
            class="btn btn-primary btn-block"
            (click)="subscribe()"
            *ngIf="
              !biddingItem.subscribed &&
              !biddingEnded &&
              !biddingItem.allowedOnlyForSubscribers
            "
          >
            {{ 'biddingSubscribe' | translate }}
          </button>
        </div>

        <p
          class="already-subscribed"
          *ngIf="
            biddingItem.subscribed &&
            !biddingEnded &&
            !biddingItem.allowedOnlyForSubscribers &&
            authService.IsLoggedIn
          "
        >
          {{ 'alreadySubscribed' | translate }}
        </p>
        <p
          class="already-subscribed"
          *ngIf="
            biddingEnded &&
            !biddingItem.allowedOnlyForSubscribers &&
            authService.IsLoggedIn
          "
        >
          {{ 'biddingEnded' | translate }}
        </p>
        <p
          class="already-subscribed"
          *ngIf="
            biddingItem.allowedOnlyForSubscribers &&
            !biddingItem.subscribed &&
            authService.IsLoggedIn
          "
        >
          {{ 'subscriptionNotAvailable' | translate }}
        </p>
      </div>
      <!-- Details Mazad -->
    </div>
  </div>

  <ng-container
    *ngIf="
      (biddingItem.isConditions || biddingItem.isInsurance) &&
      biddingItem.subscribed
    "
  >
    <h2 class="product-title">
      {{ 'termsAndConditions' | translate }}
    </h2>
    <div class="bidding-steps">
      <div class="bidding-steps__step done">
        <span class="step-number">1</span>
        <h4 class="step-title">{{ 'subscribed' | translate }}</h4>
      </div>
      <div
        class="bidding-steps__step"
        [class.done]="biddingItem.conditionsPaid"
        *ngIf="biddingItem.isConditions"
      >
        <span class="step-number">2</span>
        <h4 class="step-title">{{ 'termsPaper' | translate }}</h4>
        <button
          type="button"
          class="btn btn-primary mt-2"
          (click)="viewFile('termsPaper')"
          *ngIf="biddingItem.conditionsPaid"
        >
          {{ 'viewFile' | translate }}
        </button>
        <app-payment-methods
          [biddingId]="biddingItem.id"
          *ngIf="!biddingItem.conditionsPaid && !paymentEnded && !biddingEnded"
          [type]="'termsPaper'"
        ></app-payment-methods>
      </div>
      <div
        class="bidding-steps__step"
        [class.done]="biddingItem.insurancePaid"
        *ngIf="biddingItem.isInsurance"
      >
        <span class="step-number">3</span>
        <h4 class="step-title">{{ 'insurance' | translate }}</h4>
        <button
          type="button"
          class="btn btn-primary mt-2"
          (click)="viewFile('insurance')"
          *ngIf="biddingItem.conditionsPaid"
        >
          {{ 'viewFile' | translate }}
        </button>
        <app-payment-methods
          [biddingId]="biddingItem.id"
          *ngIf="!biddingItem.insurancePaid && !paymentEnded && !biddingEnded"
          [type]="'insurance'"
        ></app-payment-methods>
      </div>
    </div>
  </ng-container>

  <!-- Item mazad -->
  <div class="details-product">
    <h2 class="product-title">{{ 'biddingProducts' | translate }}</h2>
    <div class="products">
      <ng-container *ngIf="biddingItem.biddingItems?.length; else empty">
        <app-inner-bidding-item
          *ngFor="
            let item of biddingItem.biddingItems;
            trackBy: trackById;
            let i = index
          "
          [biddingItem]="item"
          [index]="i"
          [mainBiddingItem]="biddingItem"
        ></app-inner-bidding-item>
        <!-- End If Condition -->
      </ng-container>
      <ng-template #empty>
        <p class="empty">{{ 'noBiddingNow' | translate }}</p>
      </ng-template>
    </div>
  </div>
</div>
