.no-address {
    margin: 20px 0;
    text-align: center;
}

.mat-card {
    margin: 20px auto;
    border-radius: 0;
    padding: 10px!important;
}

.mat-card-title {
    font-size: 16px;
    font-weight: 500;
}

.mat-card-footer {
    display: block;
    margin: 0;
}