<div class="product">
  <!-- Start product Item -->
  <div class="category">{{ biddingItem.category }}</div>

  <div
    class="img-product"
    *ngIf="helpers.correctImageUrl(biddingItem.imagesUrl)?.length; else noImages"
  >
    <app-details-carousel
      [details]="helpers.correctImageUrl(biddingItem.imagesUrl)"
    ></app-details-carousel>
  </div>

  <ng-template #noImages>
    <div class="img-product">
      <img [src]="'/assets/images/placeholder-img.jpg'" alt="{{ 'product-' + (index + 1) }}" />
    </div>
  </ng-template>

  <div class="info-product">
    <div class="highest-bid" *ngIf="biddingItem.isHighestBidder">
      <img src="assets/images/crown.svg" alt="">
      {{ 'highestBidder' | translate }}
    </div>
    <h3>{{ biddingItem.biddingItemTranslations[0].title }}</h3>
    <p class="desc-product">
      {{ biddingItem.biddingItemTranslations[0].description }}
    </p>

    <div class="price">
      <span>
        {{ 'startPrice' | translate }}:
        <b>
          {{ biddingItem.startPricie | currency: 'EGP':'':'1.0-0' }}
          {{ 'egyptianPound' | translate }}
        </b>
      </span>
      <span
        >{{ 'currentPrice' | translate }}:
        <b>
          {{ biddingItem.highestBiddingPrice | currency: 'EGP':'':'1.0-0' }}
          {{ 'egyptianPound' | translate }}
        </b>
      </span>
    </div>

    <div class="date-product">
      <span>{{ 'serialNumber' | translate }}: <b> {{ mainBiddingItem.id }} - {{ biddingItem.id }} </b> </span>
      <span
        >{{ 'minimumBid' | translate }}:
        <b>
          {{ biddingItem.minimumPrice | currency: 'EGP':'':'1.0-0' }}
          {{ 'egyptianPound' | translate }}
        </b>
      </span>
    </div>

    <div class="date-product" *ngIf="biddingItem.lat && biddingItem.long" (click)="showMap(biddingItem)">
      <span>{{ 'location' | translate }}: <b>اظهر الخريطة</b> </span>
    </div>

    <div class="desc">
      <span class="icon-person">
        <b> {{ mainBiddingItem.numberOfValidUsersToBidd }} </b>
        <mat-icon class="mat-icon-md">person</mat-icon>
      </span>
      <div
        class="inline-form"
        *ngIf="mainBiddingItem.validToBidd && !biddingEnded && !biddingNotStarted"
      >
        <div class="number-field">
          <mat-form-field appearance="outline">
            <mat-label>{{ 'amount' | translate }}</mat-label>
            <input
              matInput
              type="number"
              class="hide-arrows"
              [step]="biddingItem.minimumPrice"
              [(ngModel)]="biddingAmount"
            />
          </mat-form-field>
          <div class="action-btns">
            <button mat-icon-button color="warn" (click)="decreaseBidding()">
              <mat-icon>remove</mat-icon>
            </button>
            <button mat-icon-button color="primary" (click)="increaseBidding()">
              <mat-icon>add</mat-icon>
            </button>
          </div>
        </div>
        <button
          class="btn-desc"
          [attr.disabled]="biddingInProgress ? true : null"
          (click)="bid()"
        >
          {{ 'toBid' | translate }}
        </button>
      </div>
    </div>
  </div>
  <!-- End product -->
</div>
