<mat-card>
    <div fxLayout="row wrap">
        <div fxFlex="100" fxFlex.gt-sm="100" class="p-2">
            <form [formGroup]="resetPasswordForm" (ngSubmit)="onForgetFormSubmit(resetPasswordForm.value)">
                <mat-form-field appearance="outline" class="w-100 mt-2">
                    <mat-label>{{'email' | translate}}</mat-label>
                    <input matInput placeholder="{{'email' | translate}}" formControlName="Email" required>
                    <mat-error *ngIf="resetPasswordFormErrors.Email">{{resetPasswordFormErrors.Email}}</mat-error>
                </mat-form-field>
                <mat-form-field  appearance="outline" class="w-100 mt-1">
                    <mat-label>{{'password' | translate}}</mat-label>
                    <input matInput placeholder="{{'password' | translate}}" formControlName="Password" type="password" minlength="6" required>
                    <mat-error *ngIf="resetPasswordFormErrors.Password">{{resetPasswordFormErrors.Password}}</mat-error>
                </mat-form-field> 
                <mat-form-field  appearance="outline" class="w-100 mt-1">
                    <mat-label>{{'password-confirmation' | translate}}</mat-label>
                    <input matInput placeholder="{{'password-confirmation' | translate}}" formControlName="ConfirmPassword" type="password" required>
                    <mat-error *ngIf="resetPasswordFormErrors.ConfirmPassword">{{resetPasswordFormErrors.ConfirmPassword}}</mat-error>
                </mat-form-field>
                <div class="text-center mt-2">
                    <button mat-fab color="primary" class="mat-elevation-z6"
                        (click)="onForgetFormSubmit(resetPasswordForm.value)" [disabled]="isLoading"     >
                        <mat-icon>exit_to_app</mat-icon>
                    </button>
                </div>

 

            </form>
        </div>
    </div>
</mat-card>