<mat-card>
  <div fxLayout="row wrap">
    <div
      fxFlex="100"
      fxFlex.gt-sm="50"
      class="p-2"
      ngClass.sm="mt-2"
      ngClass.xs="mt-2"
    >
      <h2 class="text-muted text-center">
        {{ 'dontHaveAccount' | translate }}
      </h2>
      <form
        [formGroup]="registerForm"
        (ngSubmit)="onRegisterFormSubmit(registerForm.value)"
      >
        <div fxLayout="row" fxLayoutAlign="start">
          <mat-form-field appearance="outline" class="w-50 mt-2">
            <mat-label>{{ 'firstName' | translate }}</mat-label>
            <input
              matInput
              placeholder="{{ 'firstName' | translate }}"
              formControlName="FirstName"
              required
            />
            <mat-error *ngIf="registerFormErrors.FirstName">{{
              registerFormErrors.FirstName
            }}</mat-error>
          </mat-form-field>
          <mat-form-field
            appearance="outline"
            class="w-50 mt-2"
            style="margin-left: 10px"
          >
            <mat-label>{{ 'lastName' | translate }}</mat-label>
            <input
              matInput
              placeholder="{{ 'lastName' | translate }}"
              formControlName="LastName"
              required
            />
            <mat-error *ngIf="registerFormErrors.LastName">{{
              registerFormErrors.LastName
            }}</mat-error>
          </mat-form-field>
        </div>
        <mat-form-field appearance="outline" class="w-100 mt-1">
          <mat-label>{{ 'email' | translate }}</mat-label>
          <input
            matInput
            placeholder="{{ 'email' | translate }}"
            formControlName="Email"
            required
          />
          <mat-error *ngIf="registerFormErrors.Email">{{
            registerFormErrors.Email
          }}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100 mt-2">
          <mat-label>{{ 'phoneNumber' | translate }}</mat-label>
          <input
            matInput
            placeholder="{{ 'phoneNumber' | translate }}"
            formControlName="PhoneNumber"
          />
          <mat-error *ngIf="registerFormErrors.PhoneNumber">{{
            registerFormErrors.PhoneNumber
          }}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100 mt-2">
          <mat-label>{{ 'birthdate' | translate }}</mat-label>
          <input
            matInput
            placeholder="{{ 'birthdate' | translate }}"
            type="date"
            formControlName="BirthDate"
          />
          <mat-error *ngIf="registerFormErrors.BirthDate">{{
            registerFormErrors.BirthDate
          }}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100 mt-2">
          <mat-label>{{ 'nationalId' | translate }}</mat-label>
          <ngx-mat-file-input
            multiple="false"
            accept="image/*"
            (change)="uploadImg($event.target.files)"
          ></ngx-mat-file-input>
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-100 mt-2">
          <mat-label>{{ 'nationalIdNumber' | translate }}</mat-label>
          <input
            matInput
            placeholder="{{ 'nationalIdNumber' | translate }}"
            formControlName="nationalIdNumber"
            required
          />
          <mat-error *ngIf="registerFormErrors.nationalIdNumber">{{
            registerFormErrors.nationalIdNumber
          }}</mat-error>
        </mat-form-field>

        <mat-label>{{ 'gender' | translate }}</mat-label
        ><br />
        <mat-radio-group formControlName="Gender">
          <mat-radio-button class="example-radio-button" [value]="0">
            {{ 'male' | translate }} </mat-radio-button
          ><br />
          <mat-radio-button class="example-radio-button" [value]="1">
            {{ 'female' | translate }}
          </mat-radio-button>
          <mat-error *ngIf="registerFormErrors.Gender">{{
            registerFormErrors.Gender
          }}</mat-error>
        </mat-radio-group>
        <mat-form-field appearance="outline" class="w-100 mt-1">
          <mat-label>{{ 'password' | translate }}</mat-label>
          <input
            matInput
            placeholder="{{ 'password' | translate }}"
            formControlName="Password"
            type="password"
            minlength="6"
            required
          />
          <mat-error *ngIf="registerFormErrors.Password">{{
            registerFormErrors.Password
          }}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100 mt-1">
          <mat-label>{{ 'password-confirmation' | translate }}</mat-label>
          <input
            matInput
            placeholder="{{ 'password-confirmation' | translate }}"
            formControlName="ConfirmPassword"
            type="password"
            required
          />
          <mat-error *ngIf="registerFormErrors.ConfirmPassword">{{
            registerFormErrors.ConfirmPassword
          }}</mat-error>
        </mat-form-field>
        <mat-checkbox formControlName="acceptTerms" (click)="openTerms()">{{
          'acceptTerms' | translate
        }}</mat-checkbox>
        <mat-error *ngIf="registerFormErrors.acceptTerms">{{
          registerFormErrors.acceptTerms
        }}</mat-error>
        <div class="text-center mt-2">
          <button
            mat-fab
            color="primary"
            class="mat-elevation-z6"
            (click)="onRegisterFormSubmit(registerForm.value)"
            [disabled]="isLoading || !registerForm.valid"
          >
            <mat-icon>person_add</mat-icon>
          </button>
        </div>
      </form>
    </div>
    <div fxFlex="100" fxFlex.gt-sm="50" class="p-2">
      <h2 class="text-muted text-center">
        {{ 'alreadyHaveAccount' | translate }}
      </h2>
      <div class="text-center mt-2">
        <button
          mat-fab
          color="primary"
          routerLink="/user/sign-in"
          class="mat-elevation-z6"
        >
          <mat-icon>exit_to_app</mat-icon>
        </button>
      </div>
    </div>
  </div>
</mat-card>
