.btn {
  border-radius: 10px;
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 30px;
  font-family: Tajawal, sans-serif;
  cursor: pointer;
  outline: 0;
  transition: 0.3s;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &.btn-block {
    display: flex;
    width: 100%;
  }
  &:hover {
    filter: brightness(1.2);
  }

  &.btn-primary {
    background-color: $primaryColor;
  }
}

[disabled] {
  pointer-events: none !important;
  opacity: 0.5 !important;
  cursor: default !important;
}

.upload-file-btn {
  position: relative;
  input {
    display: none;
  }
}
