/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@300;400;500;700;800&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~swiper/dist/css/swiper.min.css';
@import 'app/theme/styles/base';
@import 'app/theme/styles/theme';
@import 'app/theme/styles/variables';
@import 'app/theme/styles/rtl';
@import 'app/theme/styles/buttons';
@import 'app/theme/styles/forms';

* {
  box-sizing: border-box;
}
$colorprimary: #00b8f1;
.home-product {
  margin: 50px 0;

  .product-title {
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 10px;

    &:after {
      content: '';
      background-color: $colorprimary;
      width: 150px;
      height: 3px;
      margin: 0 auto;
      display: block;
    }
  }

  .pagination {
    text-align: center;
    margin: 30px 0;

    ul {
      list-style: none;

      li {
        margin: 15px;
        display: inline-block;

        .active {
          background-color: $colorprimary;
          width: 40px;
          height: 40px;
          color: #fff;
          line-height: 40px;
          text-align: center;
          padding: 3px 11px;
        }

        a {
          color: #000;
          font-size: 17px;
          font-weight: bold;
          text-decoration: none;
        }
      }
    }
  }
}

.img-ratio {
  height: 0;
  overflow: hidden;
  margin: 0;
  padding-top: 66.66%;
  background: white;
  position: relative;
  display: block;

  img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.products {
  margin: 50px 0 20px 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  app-bidding-item:only-child {
    max-width: 300px;
  }
  .product {
    background-color: #fff;
    box-shadow: 1px 2px 12px -1px rgba(0, 0, 0, 0.49);
    text-align: center;
    position: relative;
    transition: transform 0.2s ease-in-out;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    padding-bottom: 30px;

    &:hover {
      transform: scale(0.9);
    }

    .start-mzad {
      color: #000;
      font-weight: 600;
    }

    .category {
      position: absolute;
      top: 0;
      right: 0;
      background-color: $colorprimary;
      padding: 10px;
      color: #fff;
      font-weight: 600;
      z-index: 2;
    }

    h3 {
      font-size: 22px;
      color: #000000;
      margin: 15px 0;
      font-weight: 600;
    }

    .price {
      display: flex;
      justify-content: space-evenly;
      margin: 10px 0;

      span {
        color: #000;
        font-weight: 600;
      }
    }

    b {
      color: $colorprimary;
    }

    .counter {
      margin-bottom: 30px;
    }

    .desc {
      display: flex;
      justify-content: space-between;
      padding: 0 23px;
      margin-top: auto;

      button.btn-desc {
        background-color: $colorprimary;
        border-radius: 10px;
        border: none;
        color: #fff;
        font-size: 16px;
        font-weight: 600;
        padding: 10px 30px;
        font-family: Tajawal, sans-serif;
        cursor: pointer;
      }

      .icon-person {
        position: relative;
        bottom: 10px;

        .mat-icon {
          color: $colorprimary;
          position: relative;
          top: 12px;
          right: 6px;
          font-size: 35px;
        }

        b {
          font-size: 18px;
          color: #000;
        }
      }
    }

    .count-down span {
      font-size: 25px !important;
      font-weight: 600 !important;
    }
  }
}

.counter {
  position: relative;
  min-width: 120px;
  &.has-days {
    min-width: 160px;
  }
}

.count-label {
  font-size: 12px;
  margin: 0;
  padding: 0;
  font-weight: 500;
  position: absolute;
  left: 0;
  right: 0;
  top: 32px;
  color: #000;
}

.count-label span {
  margin: 0 3px;
}

.count-message {
  color: $colorprimary;
  font-size: 18px;
  font-weight: 600;

  &.completed {
    margin-bottom: 30px;
  }
}

.ngx-pagination {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  li {
    margin: 0 5px;
    width: 40px;
    padding: 0 !important;
    height: 40px;
    border-radius: 4px !important;
    border: 1px solid #ddd;
    display: flex !important;
    transition: 0.3s;
    a,
    span {
      width: 100%;
      height: 100%;
      padding: 0;
      padding: 5px 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover {
        background: none;
      }
    }

    &.small-screen {
      display: none !important;
    }

    &:first-child,
    &:last-child {
      width: auto;
      height: auto;

      &::before,
      &::after {
        display: none !important;
      }

      a {
        &::before,
        &::after {
          display: none !important;
        }
      }
    }

    &.current {
      border-color: $primaryColor;
      background: $primaryColor;
    }

    &:not(.disabled):not(.current):hover {
      color: $primaryColor;
      border-color: $primaryColor;
      a {
        color: $primaryColor;
      }
    }
  }
}

.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $primaryColor !important;
}

.loader {
  position: absolute;
  top: calc(50% - 32px);
  left: calc(50% - 32px);
  width: 64px;
  height: 64px;
  border-radius: 50%;
  perspective: 800px;
}

.inner {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.inner.one {
  left: 0%;
  top: 0%;
  animation: rotate-one 1s linear infinite;
  border-bottom: 3px solid #efeffa;
}

.footer[_ngcontent-my-app-c326]
  .subscribe-block[_ngcontent-my-app-c326]
  .subscribe-search-form[_ngcontent-my-app-c326]
  input[type='text'][_ngcontent-my-app-c326] {
  border: 0;
  outline: none;
  padding: 0 !important;
  font-size: 16px;
}

.footer-flex {
  display: flex;
  flex-wrap: wrap;
}

.mat-list-base
  .mat-list-item.mat-list-item-with-avatar
  .mat-list-item-content
  .mat-list-text {
  color: #fff;
}

.subscribe-block {
  width: 40%;
}
.contact-information {
  width: 20%;
}
.footer-links {
  width: 30%;
}

@media (max-width: 767px) {
  .footer-flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .subscribe-block {
    width: 100%;
  }
  .contact-information {
    width: 100%;
  }
  .footer-links {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 1000px) {
  .footer-flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .subscribe-block {
    width: 50%;
  }
  .contact-information {
    width: 25%;
  }
  .footer-links {
    width: 25%;
  }
}

.inner.two {
  right: 0%;
  top: 0%;
  animation: rotate-two 1s linear infinite;
  border-right: 3px solid #efeffa;
}

.inner.three {
  right: 0%;
  bottom: 0%;
  animation: rotate-three 1s linear infinite;
  border-top: 3px solid #efeffa;
}

@keyframes rotate-one {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@keyframes rotate-two {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@keyframes rotate-three {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}

// Mazad Details {
.text-center {
  text-align: center !important;
}
.titleHead {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 10px;
}

.category {
  position: absolute;
  top: 0;
  right: 0;
  left: auto;
  background-color: $colorprimary;
  padding: 10px;
  color: #fff;
  font-weight: 600;
}

hr {
  width: 90%;
  margin: auto;
  border: 1px solid #e3e3e3;
  margin-bottom: 10px;
}

.mzad-struc-block {
  display: flex;
  text-align: center;
  position: relative;
  -webkit-transition: transform 0.2s ease-in-out;
  -moz-transition: transform 0.2s ease-in-out;
  -o-transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  margin: 25px 0 15px 0;
  border-radius: 10px;
}

// Details Mazad

.details {
  margin: 50px 0;

  .product-title {
    @extend .titleHead;

    &:after {
      content: '';
      background-color: $colorprimary;
      width: 150px;
      height: 3px;
      margin: 0 auto;
      display: block;
    }
  }

  .products-mazad {
    margin: 50px 0;

    .product-mazad {
      @extend .mzad-struc-block;
      background-color: #fafafa;
      /* border: 1px solid #e5e4e4ad; */
      padding-bottom: 20px;

      .info-product {
        padding: 0 40px;
        margin-top: 10px;
        width: 50%;

        h4 {
          font-size: 18px;
          color: #000000;
          margin: 10px 0 0 0;
          font-weight: 600;
        }

        h3 {
          font-size: 22px;
          color: #000000;
          margin: 5px 0 15px 0;
          font-weight: 600;
        }

        p.desc-product {
          text-align: right;
          font-size: 15px;
          line-height: 22px;
          color: #9d9a9a;
          font-weight: 500;
          margin: 10px 0;
        }
      }

      .img-product {
        width: 50%;
        overflow: hidden;
        background: #eee;
        display: flex;
        align-items: center;
        justify-content: center;
        max-height: 400px;
        app-details-carousel {
          width: 100%;
        }

        img {
          max-width: 100%;
          max-height: 100%;
        }
      }

      // &:hover {
      //     transform: scale(0.9);
      // }

      .start-mzad {
        color: #000;
        font-weight: 600;
      }

      .category {
        @extend .category;
      }

      .price,
      .date-product {
        display: flex;
        justify-content: space-between;
        margin: 10px 0;
        padding: 0 15px;

        span {
          color: #000;
          font-weight: 600;
        }
      }

      b {
        color: $colorprimary;
      }

      .desc {
        display: flex;
        justify-content: space-between;
        padding: 0 23px;
        margin-top: 32px;

        button.btn-desc {
          background-color: $colorprimary;
          border-radius: 10px;
          border: none;
          color: #fff;
          font-size: 16px;
          font-weight: 600;
          padding: 10px 30px;
          font-family: Tajawal, sans-serif;
          cursor: pointer;
        }

        .icon-person {
          position: relative;
          bottom: 10px;

          .mat-icon {
            color: $colorprimary;
            position: relative;
            top: 12px;
            right: 10px;
            font-size: 35px;
          }

          b {
            font-size: 16px;
            color: #000;
          }
        }
      }

      .count-down span {
        font-size: 25px !important;
        font-weight: 600 !important;
      }
    }
  }
}

// Items products

.details-product {
  // span.ng-star-inserted {
  //   font-size: 30px !important;
  //   font-weight: 600 !important;
  // }

  // .mat-focus-indicator {
  //   display: none !important;
  // }
  .product-title {
    @extend .titleHead;
  }

  // &:after {
  //     content: "";
  //     background-color: $color-red;
  //     width: 150px;
  //     height: 3px;
  //     margin: 0 auto;
  //     display: block;
  // }
  .products {
    display: flex;
    flex-direction: column;

    .product {
      @extend .mzad-struc-block;
      flex-direction: row;
      padding-bottom: 0;
      background-color: #fff;
      box-shadow: 0 0 1px 1px #14171c1a, 0 3px 1px 0 rgba(20, 23, 28, 0.1);

      .counter {
        margin-bottom: 0;
      }
      // &:hover {
      //     transform: scale(0.9);
      // }

      .info-product {
        margin-top: 0;
        width: 50%;
        display: flex;
        flex-direction: column;
        padding: 30px;
        position: relative;

        .highest-bid {
          display: flex;
          position: absolute;
          align-items: center;
          left: 30px;
          top: 30px;
          font-size: 20px;
          font-weight: 600;
          color: #689f38;
          img {
            height: 16px;
            margin-right: 10px;
            [dir='rtl'] & {
              margin-left: 10px;
              margin-right: 0;
            }
          }
          [dir='rtl'] & {
            right: 30px;
            left: inherit;
          }
        }

        h3 {
          font-size: 22px;
          color: #000000;
          margin: 0;
          font-weight: 600;
        }

        p.desc-product {
          text-align: right;
          font-size: 15px;
          line-height: 25px;
          color: #9d9a9a;
          font-weight: 500;
          margin: 10px 0 25px 0;
        }
      }

      .img-product {
        width: 50%;
        overflow: hidden;
        background: #eee;
        display: flex;
        align-items: center;
        justify-content: center;
        app-details-carousel {
          width: 100%;
        }

        img {
          max-width: 100%;
          max-height: 100%;
        }
      }

      .start-mzad {
        color: #000;
        font-weight: 600;
      }

      .category {
        @extend .category;
        z-index: 20000;
      }

      .price,
      .date-product {
        display: flex;
        justify-content: space-between;
        margin: 10px 0;
        padding: 0;

        span {
          color: #000;
          font-weight: 600;
        }
      }

      b {
        color: $colorprimary;
      }

      .desc {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;

        button.btn-desc {
          background-color: $colorprimary;
          border-radius: 10px;
          border: none;
          color: #fff;
          font-size: 16px;
          font-weight: 600;
          padding: 10px 30px;
          font-family: Tajawal, sans-serif;
          cursor: pointer;
        }

        .icon-person {
          position: relative;
          bottom: 10px;

          .mat-icon {
            color: $colorprimary;
            position: relative;
            top: 12px;
            right: 6px;
            font-size: 35px;
          }

          b {
            font-size: 18px;
            color: #000;
          }
        }
      }
    }
  }
}

.empty {
  text-align: center;
  font-size: 30px;
  color: #f50b0b;
  font-weight: 600;
}

@media (max-width: 480px) {
  .products {
    flex-direction: column;
  }
  .product {
    width: 100% !important;
    margin-bottom: 40px;
    padding-bottom: 20px;
  }
  .price {
    justify-content: space-between !important;
    padding: 0 22px !important;
  }
}

@media (min-width: 481px) and (max-width: 1024px) {
  .products {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .product {
    width: 48% !important;
    margin-bottom: 40px;
    padding-bottom: 20px;
  }
  .price {
    justify-content: space-between !important;
    padding: 0 22px !important;
  }
}

@media (max-width: 767px) {
  .product-mazad,
  .product {
    display: block !important;
  }
  .product {
    width: 100% !important;
  }
  .img-product {
    width: 100% !important;
  }
  .info-product {
    width: 100% !important;
    padding: 0 !important;
  }
  .date-product {
    margin: 19px 0 !important;
    padding: 0 !important;
    flex-direction: column;
  }
  .desc-product {
    padding: 0 10px;
  }

  .products {
    margin: 50px 0 20px 0;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .product-mazad,
  .product {
    display: block !important;
  }
  .product {
    width: 100% !important;
  }
  .img-product {
    width: 100% !important;
  }
  .info-product {
    width: 100% !important;
    padding: 0 !important;
  }
  .desc-product {
    padding: 0 10px;
  }

  .products {
    margin: 50px 0 20px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
  }
}

.already-subscribed {
  border: 1px solid $primaryColor;
  color: $primaryColor;
  text-align: center;
  padding: 8px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 10px;
}

ngx-loading-bar[ref='spinner'] {
  z-index: 99999999999;
  .ngx-spinner {
    position: fixed;
    left: 0 !important;
    top: 0 !important;
    width: 100% !important;
    height: 100% !important;
    display: flex !important;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.3);
  }
  .ngx-spinner-icon {
    width: 30px !important;
    height: 30px !important;
  }
}

.bidding-steps {
  display: flex;
  margin: 50px 0 100px;
  .bidding-steps__step {
    flex: 1;
    text-align: center;
    position: relative;

    &:before {
      content: '';
      width: 100%;
      height: 2px;
      background: $borderColor;
      position: absolute;
      top: 40px;
      left: 0;
      transform: translateX(50%);
      [dir='rtl'] & {
        transform: translateX(-50%);
      }

      @media all and (max-width: 767px) {
        width: 2px;
        height: 100%;
        left: 30px;
        top: 0;
        transform: translate(0, 50%);
        [dir='rtl'] & {
          left: inherit;
          right: 30px;
          transform: translate(0, 50%);
        }
      }
    }
    .step-number {
      width: 80px;
      height: 80px;
      display: grid;
      place-items: center;
      margin: 0 auto 20px;
      border: 2px solid $borderColor;
      border-radius: 50%;
      font-size: 21px;
      font-weight: 600;
      background: white;
      position: relative;
      @media all and (max-width: 767px) {
        margin: 0 20px 0 0;
        width: 60px;
        height: 60px;
        font-size: 18px;

        [dir='rtl'] & {
          margin: 0 0 0 20px;
        }
      }
    }
    .step-title {
      font-size: 18px;
    }

    &.done {
      .step-number {
        border-color: $primaryColor;
        background: $primaryColor url('assets/images/check-white.svg') no-repeat
          center;
        font-size: 0;
        background-size: 30px;
        @media all and (max-width: 767px) {
          background-size: 20px;
        }
      }
      &:before {
        background: $primaryColor;
      }
    }

    &:last-child {
      &::before {
        display: none;
      }
    }

    @media all and (max-width: 767px) {
      text-align: inherit;
      display: flex;
      align-items: center;
      margin-bottom: 30px;
    }
  }

  @media all and (max-width: 767px) {
    display: block;
  }
}

.small-modal {
  width: 100%;
  max-width: 400px !important;
  margin: 30px auto 0;
}

.mat-dialog-container {
  max-height: 100%;
  height: auto !important;
}

.large-modal {
  width: 90vw;
  max-width: 800px !important;
  // height: 90vh;

  iframe,
  object {
    width: 100%;
    height: 100%;
    border: 0;
  }
}

.inline-form {
  display: flex;
  .mat-form-field-wrapper {
    padding: 0;
    margin: 0 !important;
  }

  > button {
    margin-left: 15px;
    [dir='rtl'] & {
      margin-left: 0;
      margin-right: 15px;
    }
  }
}

.hide-arrows {
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  &[type='number'] {
    -moz-appearance: textfield;
  }
}

.number-field {
  position: relative;
  .action-btns {
    position: absolute;
    right: 0;
    top: 5px;
    [dir='rtl'] & {
      right: inherit;
      left: 0;
    }
  }
}

h1.title-head,
h2.title-head,
h3.title-head {
  @extend .titleHead;
  &:after {
    content: '';
    background-color: $colorprimary;
    width: 150px;
    height: 3px;
    margin: 0 auto;
    display: block;
  }
}

h2.title-head {
  font-size: 24px;
}

h3.title-head {
  font-size: 18px;
}

.mat-table {
  width: 100%;
}

.categories {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  grid-gap: 30px;
  margin: 50px auto;
  // flex-wrap: wrap;

  .cat {
    &:only-child {
      max-width: 200px;
    }
    a {
      text-decoration: none;
    }

    .cat-title {
      background-color: $colorprimary;
      padding: 15px 0;
      min-height: 67px;
      display: grid;
      place-content: center;
      border-radius: 20px 20px 0 0;
      h3 {
        font-size: 18px;
        color: #fff;
        font-weight: 500;
      }
    }
    .cat-footer {
      background-color: #fff;
      padding: 8px 30px;
      border-radius: 0 0 20px 20px;
      border: 1px solid #d8d6d6;
    }

    .items-no {
      font-size: 21px;
      font-weight: 700;
      color: black;
    }
  }
}

.user-biddings {
  position: absolute !important;
  left: 5px;
  top: 5px;
  z-index: 9;
  background: rgba(0, 0, 0, 0.7) !important;
  color: white !important;
  transition: 0.3s;
  &:hover {
    background: black !important;
  }
}

.mat-drawer-container {
  background: white !important;
}

.search {
  background: #f6f6f6;
  padding: 30px;
  form {
    max-width: 80%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 0 auto;
    @media all and (max-width: 767px) {
      display: block;
      max-width: 100%;
      > * {
        width: 100%;
      }
    }
  }
  .form-control {
    height: 60px;
    width: 100%;
  }

  .field {
    label {
      font-size: 21px;
      font-weight: 700;
      margin-bottom: 10px;
      color: $primaryColor;
    }
  }

  select {
    min-width: 230px;
    color: $primaryColor;
  }
  input {
    flex: 1;
    background: white url(assets/images/search.svg) no-repeat right 20px center;
    background-size: 20px;
    font-family: Tajawal, sans-serif;
    margin: 0 15px;
    &::-webkit-input-placeholder {
      /* Edge */
      color: #c0c0c0 !important;
    }

    &:-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: #c0c0c0 !important;
    }

    &::placeholder {
      color: #c0c0c0 !important;
    }

    [dir='rtl'] & {
      background-position: left 20px center;
    }

    @media all and (max-width: 767px) {
      margin: 15px 0;
    }
  }
  .btn {
    border-radius: 0;
    font-size: 21px;
    height: 60px;
  }
}

/************************** Style by Mohamed *******************************/

.app.blue .mat-flat-button.mat-primary,
.app.blue .mat-raised-button.mat-primary,
.app.blue .mat-fab.mat-primary,
.app.blue .mat-mini-fab.mat-primary {
  background-color: $colorprimary !important;
}

.mat-simple-snackbar {
  .mat-simple-snackbar-action button.mat-button {
    color: $primaryColor !important;
  }
}

@media (max-width: 1023px) {
  // .app.blue .mat-button {color: #fff;}
}

.color-white {
  color: white;
}
